{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": 0,
    "no-var": 0,
    "prefer-template": 0,
    "no-nested-ternary": 0,
    "no-param-reassign": 0,
    "no-unused-expressions": 0,
    "no-cond-assign": 0
  }
}